<a href="https://colab.research.google.com/github/MarinaEstefania/data-engineering-bootcamp/blob/main/Notebooks/dim_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
!tar xf spark-3.2.2-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop3.2"

import findspark
findspark.init()
findspark.find()

from pyspark.sql import DataFrame, SparkSession, Window
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import *
from pyspark.sql.window import *

spark = SparkSession \
       .builder \
       .appName("review_logs") \
       .config('spark.jars.packages', 'com.databricks:spark-xml_2.12:0.15.0')\
       .getOrCreate()

spark

In [8]:
#Extract data
df = spark.read.parquet("sample_data/part-00000-c3039b56-7ffc-4dae-b3da-aaa9da7784c8-c000.snappy.parquet")
df.show()

+----------+--------+-------------+-----------------+------------+------------+--------------+------+
|  log_date|  device|     location|               os|          ip|phone_number|       browser|log_id|
+----------+--------+-------------+-----------------+------------+------------+--------------+------+
|04-25-2021|  Mobile|       Kansas|        Apple iOS|9.200.232.57|821-540-5777|        Safari|     1|
|03-13-2021|  Tablet|       Oregon|   Google Android|9.200.232.57|819-102-1320| Google Chrome|     2|
|09-30-2021|  Tablet|    Minnesota|        Apple iOS|9.200.232.57|989-156-0498|        Safari|     3|
|05-24-2021|  Tablet|     Arkansas|      Apple MacOS|9.200.232.57|225-837-9935|        Safari|     4|
|02-01-2021|  Tablet|New Hampshire|            Linux|9.200.232.57|243-842-4562|       Firefox|     5|
|07-23-2021|  Tablet|  Pensylvania|        Apple iOS|9.200.232.57|694-501-4352|        Safari|     6|
|10-13-2021|Computer|     New York|      Apple MacOS|9.200.232.57|430-449-7136|        Safari|     7|
|09-18-2021|Computer|   California|Microsoft Windows|9.200.232.57|633-661-7714|Microsoft Edge|     8|
|05-08-2021|  Tablet|   Washington|      Apple MacOS|9.200.232.57|450-036-0504|        Safari|     9|
|03-04-2021|  Tablet|     Lousiana|            Linux|9.200.232.57|738-536-6776|       Firefox|    10|
|06-19-2021|Computer|    Minnesota|   Google Android|9.200.232.57|682-519-9021| Google Chrome|    11|
|03-23-2021|  Mobile|     Arkansas|   Google Android|9.200.232.57|678-722-6084| Google Chrome|    12|
|04-08-2021|  Mobile|  Pensylvania|            Linux|9.200.232.57|781-850-8167|       Firefox|    13|
|06-29-2021|  Mobile|     Lousiana|Microsoft Windows|9.200.232.57|208-216-2106|Microsoft Edge|    14|
|10-20-2021|Computer|        Idaho|            Linux|9.200.232.57|693-854-2646|       Firefox|    15|
|06-03-2021|  Mobile|      Montana|            Linux|9.200.232.57|805-540-1405|       Firefox|    16|
|05-27-2021|  Tablet|     Nebraska|      Apple MacOS|9.200.232.57|896-134-1623|        Safari|    17|
|04-01-2021|  Tablet|      Alabama|      Apple MacOS|9.200.232.57|850-716-4779|        Safari|    18|
|06-12-2021|  Tablet|     Missouri|   Google Android|9.200.232.57|946-565-9757| Google Chrome|    19|
|05-09-2021|Computer| Rhode Island|   Google Android|9.200.232.57|938-623-1577| Google Chrome|    20|
+----------+--------+-------------+-----------------+------------+------------+--------------+------+
only showing top 20 rows

In [9]:
#Transform data (create dim dataframes)
dim_devices = df.select(df.device).drop_duplicates()
dim_devices.show()

dim_location = df.select(df.location).drop_duplicates()
dim_location.show()

dim_os = df.select(df.os).drop_duplicates()
dim_os.show()

dim_browser = df.select(df.browser).drop_duplicates()
dim_browser.show()

dim_date = df.select(df.log_id, df.log_date)
dim_date = dim_date.withColumn('day', split(col('log_date'),'-').getItem(1)) \
  .withColumn('month', split(col('log_date'),'-').getItem(0)) \
  .withColumn('year', split(col('log_date'),'-').getItem(2)) \
  .withColumn('season', lit('under construction...'))
dim_date.show(5)

+--------+
|  device|
+--------+
|Computer|
|  Mobile|
|  Tablet|
+--------+

+-------------+
|     location|
+-------------+
|         Utah|
|       Hawaii|
|    Minnesota|
|         Ohio|
|       Oregon|
|     Arkansas|
|        Texas|
| North Dakota|
|  Connecticut|
|     Nebraska|
|      Vermont|
|       Nevada|
|   Washington|
|     Illinois|
|     Oklahoma|
|     Delaware|
|       Alaska|
|   New Mexico|
|West Virginia|
|     Missouri|
+-------------+
only showing top 20 rows

+-----------------+
|               os|
+-----------------+
|Microsoft Windows|
|            Linux|
|        Apple iOS|
|      Apple MacOS|
|   Google Android|
+-----------------+

+--------------+
|       browser|
+--------------+
|Microsoft Edge|
|       Firefox|
|        Safari|
| Google Chrome|
+--------------+

+------+----------+---+-----+----+--------------------+
|log_id|  log_date|day|month|year|              season|
+------+----------+---+-----+----+--------------------+
|     1|04-25-2021| 25|   04|2021|under constructio...|
|     2|03-13-2021| 13|   03|2021|under constructio...|
|     3|09-30-2021| 30|   09|2021|under constructio...|
|     4|05-24-2021| 24|   05|2021|under constructio...|
|     5|02-01-2021| 01|   02|2021|under constructio...|
+------+----------+---+-----+----+--------------------+
only showing top 5 rows

In [ ]:
#Load data
dim_devices.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_devices/")
dim_location.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_location/")
dim_os.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_os/")
dim_browser.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_browser/")
dim_date.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_date/")
#fact_movie_analytics.write.option("header", "true").csv("s3://manual-bucket-megc/gold-data/dim_devices/")